/* for laptops  and desktop mode on phone*/

@media only screen and (min-width: 992px) {
  #sidebar {
    width: 15%;
    align-items: center;
  }

  #hero {
    position: relative;
    margin-top: 10%;
    height: 90%;
  }

  lottie-player {
    position: absolute;
    height: 40%;
    width: 30%;
    top: -15%;
    right: 0%;
  }

  .card {
    width: 40%;
  }
  #hero-image > img {
    height: 100%;
    width: 100%;
  }
}

/* for large screen */
@media only screen and (min-width: 992px) {
  #hero > #company {
    display: none;
  }
  #hero {
    position: relative;
  }
  #hero-image > img {
    height: 100%;
    width: 100%;
  }
}
