/* for laptops  and desktop mode on phone*/

@media only screen and (min-width: 992px) {
  #sidebar {
    width: 15%;
    align-items: center;
  }

  #hero {
    position: relative;
  }

  lottie-player {
    position: absolute;
    height: 40%;
    width: 30%;
    top: -10%;
    left: 45%;
  }

  .card {
    width: 40%;
  }
}

/* for large screen */
@media only screen and (min-width: 992px) {
  #hero > #company {
    display: none;
  }
  #hero {
    position: relative;
  }
}
