/* for phone */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  #sidebar {
    padding: 0px;
    margin: 0px;
    display: none;
  }
  #contact {
    padding: 20px 100px;
    width: 100%;
    margin: auto;
  }

  #contact i {
    padding-left: 5%;
  }
  #menu {
    display: block;
    padding-left: 19%;
  }
  .fa-bars {
    display: flex;
    /* background-color: red; */

    right: 0px;
  }
  #hero {
    position: relative;
    margin: 0%;
    padding-top: 0%;
    align-items: center;
  }

  /* #hero > section {
    display: flex;
  } */
  #heroContainer::before {
    height: 105vh;
  }
  #hero-main {
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    padding-top: 10%;
    gap: 0px;
    margin: 0px;
    width: 100%;
  }
  #hero-contents {
    /* background-color: pink; */
    width: 90%;
    padding: 5%;
  }
  #hero-title {
    font-size: clamp(1rem, 1vw + 2.5em, 9rem);
  }
  #hero-image {
    border: none;
    margin-top: 10px;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  #hero-main > lottie-player {
    position: absolute;
    top: 0px;
    width: 40%;
    height: 3%;
    right: 0px;
  }
  #popup-box {
    width: 70%;
  }
  hr {
    border: 1px solid var(--navBar-bg);
  }
  #hero-image img {
    width: 100%;
    height: 100%;
  }

  #projects {
    width: 100%;
  }
  .projects-header {
    padding-left: 0px;
  }
  footer {
    width: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #bank {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    /* height: 8vh; */
    /* margin: 15px; */
    /* height: 20vh; */
    width: 88%;
    padding: clamp(1rem, 1vw, 3rem);
  }
  #footerContainer .footerCard {
    /* margin: 50px; */
    /* padding: 20px; */
    /* margin: 10px; */
    width: 100%;
    height: 1vh;
  }
}
