@media only screen and (min-width: 0px) and (max-width: 480px) {
  #chatWindow {
    width: 350px;
  }
  .hero-content {
    width: 85%;
  }
  /* #company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
  }
  #company-logo > img {
    width: 35%;
    height: 55vh;
    display: block;
  } */
}
