@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-color: #2a076e;
  --text-color: black;
  --font-size-base: clamp(1rem, 1vw + 0.5rem, 1.5rem); /* base font size */
  --sidebar-color: #310fc9;
  --contact-bg: rgb(228, 227, 227);
  --hero-title-font: "Courgette";
  --footer-bg: rgb(12, 12, 54);
  --navBar-bg: #007bff;
}

body {
  font-family: "Playfair", serif;
  font-size: var(--font-size-base);
  background-color: var(--bg-color);
  color: white;
}

#main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#sidebar {
  background-color: var(--sidebar-color);
  position: fixed;
  width: 15%;
  height: 100vh;
  color: white;
  border-bottom-right-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  background-color: var(--bg-color);
}

nav ul {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  width: 100%;
}
nav ul li {
  display: flex;
  background-color: var(--bg-color);
  width: 100%;
}
nav ul li a {
  display: inline;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
nav ul li:hover {
  width: 100%;
  background-color: var(--navBar-bg);
  transition: 0.3s ease-in-out;
}
#sidebar footer {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

#first-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-container > #sidebar > #first-block img {
  margin-top: 5%;
  height: 40%;
  width: 50%;
}
#hero > section {
  display: none;
}
#company {
  width: 100%;
  background-color: var(--navBar-bg);
  gap: 5%;
}
#company img {
  margin-left: 5%;
  height: 100%;
  width: 10%;
}

#company > #secondContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#company > #secondContainer > #menu {
  padding-right: 7%;
}
#hero {
  display: flex;
  margin-left: 15%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#hero-main {
  margin: auto;
  width: 90%;
  display: flex;
  gap: 5%;
}
/* nav-bar contact  */
#contact {
  background-color: var(--navBar-bg);
  z-index: 100;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  height: 1.3em;
  display: flex;
  gap: 0.4em;
  align-items: center;
  background-color: var(--sidebar-color);
}
#contact i {
  padding-left: 2%;
}
#hero-contents {
  margin-top: 10%;
  height: 60%;
  width: 60%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}
/* #hero-description {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */
#hero-image {
  margin-top: 15%;
  border: 2px solid var(--navBar-bg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  /* padding-top: 15%; */
  height: 60%;
  /* width: 50%; */
}
#hero-image img {
  height: 100%;
}
#buttons {
  width: 100%;
  display: flex;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid white; */
  border-bottom: 1px solid white;

  height: 2.4em;
  /* margin: 0.65em; */
}
#menu {
  display: none;
}

#hero-title {
  font-size: clamp(1.5rem, 4vw, 4rem);
  font-family: var(--hero-title-font);
}
section {
  color: var(--text-color);
  padding: 10px;
  text-align: center;
}
aside {
  background-color: var(--bg-color);
}
#contact-form-container {
  margin: auto;
  width: 100%;
}
.contact-form {
  margin: auto;
  background-color: #ffffff;
  /* max-width: 400px; */
  width: 80%;
  padding: clamp(1rem, 1vw + 2rem, 5rem);

  box-shadow: 0 4px 6px black;
  border-radius: 8px;
}

.contact-form h2 {
  margin-bottom: 15px;

  margin-left: 0px;
  font-size: 20px;
  color: #333;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-form button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 107%;
}

.contact-form button:hover {
  background-color: #0056b3;
}

@media (min-width: 600px) {
  .contact-form {
    max-width: 500px;
  }
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin: 0 0 10px;
  color: #333;
}

.card-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.card-button {
  text-align: right;
}

.card-button a {
  display: inline-block;
  background-color: #007bff;
  /* background-color: green; */

  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.card-button a:first-child {
  background-color: rgb(5, 177, 5);
}
.card-button a:hover {
  background-color: #0056b3;
}
.card-button button {
  display: inline-block;
  background-color: #007bff;
  /* background-color: green; */

  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.card-button button:hover {
  cursor: pointer;
  background-color: #0056b3;
}
@media (min-width: 600px) {
  .card {
    max-width: 400px;
  }
}

#projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.projects-header {
  padding-left: 40px;
}
.card {
  /* padding: clamp(1rem, 1vw + 2rem, 5rem); */
  margin: clamp(1rem, 1vw + 2rem, 5rem);
}
footer {
  background-color: var(--footer-bg);
  /* width: 100%; */

  /* display: flex; */
}
#footerContainer {
  margin: auto;
  /* background-color: green; */
  /* width: 100%; */

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* height: 70vh; */
  padding: clamp(1rem, 1vw, 3rem);
}

#footerContainer .footerCard {
  /* margin: 20px; */
  height: 5vh;
  width: 30%;
  /* background-color: red; */
  /* background-color: red; */
  /* margin: clamp(1rem, 1vw + 1rem, 1rem); */

  padding: clamp(1rem, 1vw + 2rem, 3rem);
}
.footerCard a {
  color: rgb(243, 76, 103);
}
.social img {
  background-color: white;
  object-fit: contain;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
